html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Code Pro', 'monospace';
  background-color: #D6E5E3;
  color: #2D3319;
}

em {
  font-weight: 600;
}

.wrapper {
  width: 80%;
  max-width: 50em;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.profile_description {
  font-family: 'Encode Sans Expanded', sans-serif;
  letter-spacing: 0.1em;
}

.profile_pic {
  border-radius: 50%;
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
  width: 30%;
  shape-outside: margin-box;
  padding: 1em;
  background-color: #338a93;
  transition: ease-in-out 0.2s;
}

.profile_pic:hover {
  transform: scale(1.1) rotate(2turn);
  box-shadow: 5px 10px 20px rgb(68, 67, 67);
}

.skills_item:nth-child(odd) {
  text-shadow: 2px 2px 1px #97A97C;
  transition: 0.2s ease-in-out;
}

.skills_item:nth-child(odd):hover {
  text-shadow: none;
  scale: 1.1;
}

.skills_item--high {
  font-size: 1.6rem;
  font-weight: bold;
}

.skills_item--medium {
  font-size: 1.3rem;
  font-style: italic;
}

.skills_item--basic {
  text-decoration: underline solid;
}

.titles-color {
  color: #517664;
}

.u-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.u-width_max {
  max-width: max-content;
}

.u-bfc-float {
  display: flow-root;
}


/* debug css */

.u-debug,
.u-debug>* {
  border: 1px solid red;
  box-sizing: border-box;
}